body {
    color: var(--md-sys-color-on-background);
    background-color: var(--md-sys-color-background);
    font-family: sans-serif;
    margin: 0;
    padding-bottom: 100px;
}

header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 15px;
    background-color: var(--md-sys-color-surface-container);
    > h2 {
        margin: 0;
        display: inline-block;
    }
    > nav {
        display: inline-block;
        ul {
            margin: 0;
            padding: 0;
            > li {
                display: inline;
                > a {
                    margin-left: 10px;
                    padding: 8px;
                    border-radius: 6px;
                    &:hover {
                        background-color: rgb(from var(--md-sys-color-primary) r g b / 0.08);
                    }
                }
            }
        }
    }
}

main {
    margin: 80px auto 0 auto;
    padding: 0 20px;
}

footer {
    border-top: 1px solid #222;
    margin-top: 1rem;
}

a {
    color: var(--md-sys-color-primary);
    text-decoration: none;
}


